<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="../index.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="./img/Sedona_Thomas_icon.ico">
    <link rel="canonical" href="http://www.columbia.edu/~snt2127/" />
    <title> Templates </title>
</head>

<body>

    <h2>Templates </h2>

    <ul id="dot_list">

        <li>
            <a href="http://www.columbia.edu/~snt2127/templates/MakefileTemplate">
                MakefileTemplate
            </a>
        </li>

        <li>
            <a href="http://www.columbia.edu/~snt2127/templates/template.c">
                template.c
            </a>
        </li>

        <li>
            <a href="http://www.columbia.edu/~snt2127/templates/template.cpp">
                template.cpp
            </a>
        </li>

        <li>
            <a href="http://www.columbia.edu/~snt2127/templates/template.h">
                template.h
            </a>
        </li>

        <li>
            <a href="http://www.columbia.edu/~snt2127/templates/template.html">
                template.html
            </a>
        </li>

        <li>
            <a href="http://www.columbia.edu/~snt2127/templates/template.css">
                template.css
            </a>
        </li>

        <li>
            <a href="http://www.columbia.edu/~snt2127/templates/template.java">
                template.java
            </a>
        </li>

        <li>
            <a href="http://www.columbia.edu/~snt2127/templates/template.py">
                template.py
            </a>
        </li>

        <li>
            <a href="http://www.columbia.edu/~snt2127/templates/template.s">
                template.s
            </a>
        </li>

        <li>
            <a href="http://www.columbia.edu/~snt2127/templates/template.sh">
                template.sh
            </a>
        </li>

    </ul>

</body>

</html>