<!--Sedona Thomas-->
<!--template.html: -->

<!DOCTYPE html>
<html> 

    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <title>
            
            Title
        
        </title>

    </head>	

    <body bgcolor="#FFFFFF" data-gr-c-s-loaded="true" style="margin:30;padding:0">

        <h2 align="center">

            <font size="6" color="black" face="TimesNewRoman">

                Title

            </font>

        </h2>
        
        <font size="3" color="black" face="TimesNewRoman"> 

            text

        </font>

        <!-- Button: button that runs script -->
        <!-- <button>Button Name</button> -->

    </body>

    <!-- Script: javascript file triggered by button -->
    <!-- <script src="script.js"> </script> -->

</html>
