#intro {
  width: 100%;
  display: block;
  margin-bottom: 2%;
}

#pronouns {
  font-size: 30px;
}

figure {
  margin: 0%;
  border: 0%;
  padding: 0%;
}

.headshot {
  margin: 0%;
  border: 0%;
  padding: 5%;
}

img.profile_pic {
  border-radius: 10%;
  width: 12%;
}

.headshot,
.profile {
  display: inline-block;
  float: left;
  margin-bottom: 2%;
}

.headshot {
  margin-right: 2%;
  vertical-align: middle;
}

.profile {
  width: 86%;
  vertical-align: middle;
}
