ul {
  list-style-type: none;
}

.inline_list {
  margin: 0%;
  list-style-type: none;
}

.inline_list li {
  display: inline;
  margin: 0px 10px;
}

.dot_list {
  list-style-type: disc;
}

.dashed_list {
  list-style-type: "- ";
}

.blank_list {
  list-style-type: none;
}
