ul {
  list-style-type: none;
}

.inline_list {
  text-align: center;
  margin: 0%;
  list-style-type: none;
}

.inline_list li {
  display: inline;
}

.dot_list {
  list-style-type: disc;
}

.dashed_list {
  list-style-type: "- ";
}
