/* 
 * Sedona Thomas
 * css style sheet: Style Sheet for Sedona Thomas's Resume
 */

body {
  background-color: #a4bed8;
  color: #000000;
  font-family: "Times New Roman", Times, serif;
  text-align: left;
  font-size: 17px;
  margin: 0%;
  border: 0%;
  padding: 0%;
}

header,
footer {
  display: block;
  height: 5%;
  font-size: 18px;
}

header {
  top: 0%;
}

footer {
  top: 95%;
}

.fixed_bar {
  background-color: #7697c6;
  position: fixed;
  width: 100%;
  padding: 0.5%;
}

.content {
  top: 5%;
  bottom: 95%;
  overflow-y: hidden;
  padding: 3%;
}

hr {
  background-color: #000000;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #0000ff;
  margin: 1em 0;
  padding: 0;
}
