/* 
 * Sedona Thomas
 * css style sheet: Style Sheet for Sedona Thomas's Resume
 */

body {
  background-color: #a4bed8;

  color: #000000;
  font-family: "Times New Roman", Times, serif;
  text-align: left;
  font-size: 17px;

  margin: 0%;
  border: 0%;
  padding: 0%;
}

header,
footer {
  display: block;
  height: 5%;
}

header {
  top: 0%;
}

footer {
  top: 95%;
}

.fixed_bar {
  background-color: #7e9ebe;
  position: fixed;
  width: 100%;
  text-decoration: none;
  font-weight: italic;
}

.main_body {
  top: 2%;
  bottom: 92%;
  padding: 3%;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

hr {
  background-color: #000000;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #3333ff;
  margin: 1em 0;
  padding: 0;
}

article {
}

section {
}
