nav {
  border: 0%;
  padding: 1%;
  margin: 0%;
  margin-bottom: 10%;
}

nav a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #3333ff;
}

nav ul {
  text-align: left;
  vertical-align: middle;
  margin: 0%;
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin: 0% 10px;
}
