.resume {
  display: block;
  float: left;
}

.resume_section {
  margin: 2%;
  padding-top: 40px;
  margin-top: -40px;
}

#education,
#work,
#skills,
#courses,
#extracurriculars,
#projects,
#awards,
#certifications {
}
